@use './mixin' as *;
@use './variable' as *;

  // ----- Resets ----- //
*{
    padding: 0;
    margin: 0;
  }

  *, *::before, *::after {
    box-sizing: border-box;
}
  
  li {
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
  }


  // ----- Default Styles ----- //
  body {
    @include body-font-mobile;
    @include tablet {
        @include body-font-tablet;
    }
  }

  .default-input {
    height: 2.25rem;
    width: 100%;
    background-color: $white;
    border: .0625rem solid $cloud;
    border-radius: 1.25rem;
    padding: .625rem 1rem;
  
    &:focus {
      border-color: $dark-black;
      outline: none;
      border-color: $dark-black;
  
      &::placeholder {
        color: $dark-black;
      }
    }
  
    &--error-state {
      border-color: $bright-red;
    }
  }
  
  ::placeholder {
    color: $slate;
  }
  
    