// ---------- COLORS ---------- //
// Primary Colors
$dark-black: #000000;
$mild-black: #1B1717;
$dark-red: #810000;
$bright-red: #CE1212;
$white: #FFFFFF;

// Secondary Colors
$bright-navy: #211951;
$bright-purple: #836FFF;
$bright-mint: #15F5BA;
$cream: #EEEBDD;
$bright-gray: #F0F3FF;
$mercury: #E1E1E1;
$alabaster: #FAFAFA;
$slate: #5c667e;
$cloud: #bdc5d5;
$postCardBackground: #f8f3f3;



// ---------- PADDINGS ---------- //
// Paddings for Tablet / Desktop
$before-headline-tablet: 2.25rem; 
$between-components-tablet: 1.5rem;  

// Paddings for Mobile
$before-headline-mobile: 1.5rem;
$between-components-mobile: 1rem;



// ---------- MARGINS ---------- //
// Margins for Tablet
$side-margin-tablet: 2.25rem;

// Margins for Mobile
$side-margin-mobile: 1rem;