@use '../../styles/partials/mixin' as *;
@use '../../styles/partials/variable' as *;
@use '../..//styles/partials/global' as *;

.posts{
    min-width: 320px;
}

//Nav bar styles
.nav{
    width: 100%;
    @include flex-space-between;
    color: $mercury;
    background-color: black;
    font-size: 15px;
    font-weight: 600;

    @include tablet{
        font-size: 18px;
        font-weight: 600;
    }
    
    .nav-list{
        width: 100%;
        max-width: 1008px;
        margin: 0 auto;
        @include tablet{
            display: flex;
            width: 60%;
            align-items: center;
            margin: 0 auto;
        }

        &__buttons-wrap{
            width: 50%;
            height: 30px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            gap: 45px;
            margin: 0 auto;
            background: black;

            @include tablet{
                max-width: 315px;
                width: 50%;
                margin-right: 26px;
            }
        }        

        &__button{
            border: none;
            background: none;
            color: inherit;
            font: inherit;

            &:hover{
                color: $white;
                cursor: pointer;
                border-bottom: 3px solid $dark-red;
            }

            &--active{
                color: $white;
                border-bottom: 3px solid $dark-red;
            }
        }

        &__search-wrap{
            background-color: $white;
            padding: 10px $between-components-mobile;
            @include tablet{
                width: 50%;
                background-color: black;
                padding: $between-components-mobile $between-components-mobile 10px;
            }
        }

        &__search-bar{
            width: 85%;
            height: 26px;
            display: block;
            margin: 0 auto;
            background-color: #FFFFFF;
            border: 1px solid #d8d7d7;
            border-radius: 10px;
            padding: 0 10px;
            
            @include tablet{
                width: 95%;
                margin: 0;
                margin-left: 16px;
                max-width: 250px;
            }
            &:focus {
                border-color: $dark-black;
                outline: none;
                border-color: $dark-black;
            
                &::placeholder {
                  color: $dark-black;
                }
              }
            
        }
    }

}
