@use '../../styles/partials/mixin' as *;
@use '../../styles/partials/variable' as *;
@use '../..//styles/partials/global' as *;

//Nav bar styles
.nav{
    width: 100%;
    padding: 0 $between-components-mobile 10px $between-components-mobile;
    @include flex-space-between;
    font-size: 18px;
    font-weight: 600;
    color: $mercury;
    background-color: black;
    
    .nav-list{
        @include flex-space-between;
        width: 50%;
        align-items: center;
        margin: 0 auto;

        &__item-link{
            &:hover{
                color: $white;
                cursor: pointer;
                border-bottom: 3px solid $dark-red;
            }

            &--active{
                color: $white;
                border-bottom: 3px solid $dark-red;
            }
        }

        &__search-bar{
            height: 26px;
            width: 100%;
            background-color: #FFFFFF;
            border: 1px solid #d8d7d7;
            border-radius: 10px;
            padding: 0 10px;
            &:focus {
                border-color: $dark-black;
                outline: none;
                border-color: $dark-black;
            
                &::placeholder {
                  color: $dark-black;
                }
              }
        }
    }

}
