@use '../../styles/partials/mixin' as *;
@use '../../styles/partials/variable' as *;
@use '../../styles/partials/global' as *;

.header{
    background-color: black;
    padding: $between-components-mobile 24px;
    .logo-icon-wrap{
        @include flex-space-between;
        align-items: center;
    }
    &__logo{
        height: 80px;
        margin-left: -15px;
    }

    .icons-wrap{
        @include flex-space-between;
        flex-direction: column;
        align-items: center;
    }
    &__user-icon{
        background-image: url(../../assets/icons/user-icon.png);
        background-size: cover;
        background-position-y: -1px;
        border-radius: 50%;
        height: 45px;
        width: 45px;
        margin-bottom: 7px;
        &:hover{
            cursor: pointer;
        }
    }
    
    &__add-icon{
        height: 30px;
        border-radius: 13px;
        margin-bottom: -7px;

        &:hover {
            box-shadow: 2px 2px 2px #666;
        }
    }

    &__add-link{
        margin-right: 2px;
    }
    
    
}