@use '../../styles/partials/mixin' as *;
@use '../../styles/partials/variable' as *;
@use '../..//styles/partials/global' as *;

.post-details{
    display: flex;
    flex-direction: column;
    max-width: 700px;
    margin: 10px auto;
   
    &__image{
        width: 300px;
        margin: 20px auto;
        border-radius: 4px;
    }

    .title-content-wrap{
        width: 100%;
        margin: 10px auto; 
    }

    &__title{
        font-size: 20px;
        margin: 20px 0;
    }

    &__location{
        display: flex;
        align-items: center;
        margin-top: 24px;

        &:hover{
            cursor: pointer;
        }

        &-icon{
            width: 30px;
            margin-right: 5px;
            margin-top: -8px;
        }
    }

    // Comments Section
    .comments-section{
        width: 100%;
        margin: 20px auto;
        padding-bottom: 20px;
    }   

    .comment-number{
        margin-top: 10px;
    }

}