@use '../../styles/partials/mixin' as *;
@use '../../styles/partials/variable' as *;
@use '../..//styles/partials/global' as *;

.post-details{
    display: flex;
    flex-direction: column;

   
    &__image{
        width: 300px;
        margin: 20px auto;
        border-radius: 4px;
    }

    .title-content-wrap{
        width: 70%;
        max-width: 700px;
        margin: 10px auto; 
    }

    &__title{
        font-size: 20px;
        margin: 20px 0;
    }


    // Comments Section
    .comments-section{
        width: 70%;
        max-width: 700px;
        margin: 20px auto;
    }   

    .comment-number{
        margin-top: 10px;
    }

    .comment-input-wrap{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 16px 0;
        margin-bottom: 30px;

        .user-icon{
            width: 40px;
            border-radius: 50%;
        }

        .comment-input{
            width: 495px;
            margin:0 16px;
        }

        .add-comment-icon{
            width: 40px;
            &:hover{
                cursor: pointer;
            }
        }
    }
}